@import 'splitting/dist/splitting.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.splitting .word {
    display: inline-block;
    transition: color 0.5s;
}

.directorsCarousel__images-slide img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}

body {
    @apply m-0 p-0 box-border bg-primary-black;
    font-family: "Unbounded", sans-serif;
}

.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}